@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
}

#div1{
    display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	align-content: center;
}

#LOGOTIPO{
	width: 150px;
	border-radius: 2px;
	border-color: black;
	border-width: 1px;
}
#Dados{
	display: block;
	margin: auto;
}
.TextoDados{
	display: block;
	margin: auto;

}
.Texto1{
	position: relative;
}
#MZ{
	padding: 20px;
	background-color: whitesmoke;
	margin: auto;
    display: block;
	border-radius: 30px;
	}

#MZ h2{
font-family: 'Oswald', sans-serif;
font-size: 30px;
color: black;
}
#MZ P{
	font-family: 'Josefin Sans', sans-serif;
	font-family: 'Oswald', sans-serif;
	text-align: justify;
	font-size: 22px;
}
main{
	max-width: 80%;
	display: block;
	margin: auto;
	padding-bottom: 50px;
}
body{
	background-image: url(Imagens/background.jpg);
    background-repeat: initial;

}
#Produtos1{
	width: 300px;
	border-style: groove;
	max-width: 100%;
}
#Produtos2{
	width: 300px;
	border-style: groove;
	max-width: 100%;
}
#Produtos3{
	width: 300px;
	border-style: groove;
	max-width: 100%;	
}
.Pro{
	display: block;
	margin: auto;
}
.spec{
	display: inline-block;
	padding-left: 100px;	
}
#DescricaoPro{
	padding-bottom: 30px;
}
#divphp1{
	display: flex;
}
